<div class="container">
  <div class="header">
    <h1>Consumo de API (Jikan) - Angular</h1>
    <p class="subtitle">
      4 endpoints (1 por integrante): Top Anime | Season Now | Search |
      Characters
    </p>
  </div>

  <div class="toolbar">
    <button (click)="loadTop()">Diego: Top Anime</button>
    <button (click)="loadSeasonNow()">Héctor: Season Now</button>

    <div class="group">
      <input
        [(ngModel)]="query"
        placeholder="Denisse: Buscar (ej: one piece)"
      />
      <button (click)="search()">Buscar</button>
    </div>

    <div class="group">
      <input
        type="number"
        [(ngModel)]="animeId"
        placeholder="Beto: Anime ID (ej: 20)"
      />
      <button (click)="loadCharacters()">Personajes</button>
    </div>
  </div>

  <p *ngIf="loading">Cargando...</p>
  <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

  <!-- LISTADO DE ANIME -->
  <div
    class="grid"
    *ngIf="
      !loading && (mode === 'top' || mode === 'season' || mode === 'search')
    "
  >
    <div class="card" *ngFor="let a of animes">
      <img [src]="a.images.jpg.image_url" [alt]="a.title" />
      <div class="card-body">
        <h3>{{ a.title }}</h3>
        <p class="meta">
          ⭐ {{ a.score ?? "N/A" }} | 🎬 {{ a.episodes ?? "N/A" }} eps | 📅
          {{ a.year ?? "N/A" }}
        </p>
        <p class="synopsis">{{ a.synopsis || "Sin sinopsis disponible." }}</p>
      </div>
    </div>
  </div>

  <!-- LISTADO DE PERSONAJES -->
  <div class="grid" *ngIf="!loading && mode === 'characters'">
    <div class="card" *ngFor="let c of characters">
      <img [src]="c.character.images.jpg.image_url" [alt]="c.character.name" />
      <div class="card-body">
        <h3>{{ c.character.name }}</h3>
        <p class="meta">Rol: {{ c.role }}</p>
      </div>
    </div>
  </div>
</div>
